@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center h-100">
    <div class="d-none d-sm-block" style="background-image: url(images/logo5.png);
                  background-repeat: no-repeat;
                  opacity: 0.3;
                  background-size: cover;                  
                  height: 80vh;
                  width: 100%;">

    </div>
</div>
